{% extends "base.html" %}

{% block content %}
    <form action="/holidays/{{holiday.id}}" method="post">
        <div>
        <label for="description">Type:</label>
        <input type="text" id="holiday_type" name="holiday_type" value="{{holiday_type}}" required autofocus>
        </div>
        <div>
                <label for="country">Select country:</label>
                  <select name="country_id" id="country">
                    <option value="{{ country.id }}">{{ country.name }}</option>
                  </select>
        </div>
        <div>

                <label for="city">Select city:</label>
                  <select name="city_id" id="city">
                    <option value="{{ city.id }}">{{ city.name }}</option>
                  </select>
        </div>
        <div>
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" value="{{review}}">
        </div>
        <div>

                <label for="user">Select user:</label>
                  <select name="user_id" id="user">
                    <option value="{{ user.id }}">{{ user.name }}</option>
                  </select>
        </div>

        <button type="submit">Update</button>


    </form>
{% endblock %}