{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
{% for holiday in all_holidays %}
<div class="hols_container">
  <div class="hols">
    <div class="content">
      {{holiday.user.name}} 
      <div class="holiday_type">
        <a href="holidays/{{holiday.id}}">{{ holiday.holiday_type }}</a>
      </div>
      <div class="country">
          {{ holiday.country.name }}
      </div>
      <div class="city">
          {{ holiday.city.name }}
      </div>
      <div class="review">
          <a href="holidays/{{holiday.id}}">{{ holiday.review }}</a>
      </div>

      <div class="hols_button">
        <form action="/holidays/{{ holiday.id }}/delete" method="POST">
            <button holiday_type="submit" value="delete">Delete</button>
          </form>
      </div>
    </div>
  </div>

</div>
{% endfor %}  


{% endblock %}