{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
{% for holiday in all_holidays %}
<div class="hols_container">
  <div class="hols">
    <div class="content">
      {{holiday.user.name}} 
      <div class="holiday_type">
      {{ holiday.holiday_type }}
      </div>
      <div class="country">
          {{ holiday.country.name }}
      </div>
      <div class="city">
          {{ holiday.city.name }}
      </div>
      <div class="transport">
        {{ holiday.transport }}
      </div>
      <div class="currency">
        {{ holiday.currency }}
      </div>
      <div class="review">
        {{ holiday.review }}
      </div>

      <div class="hols_button">
        <form action="/holidays/{{ holiday.id }}/delete" method="POST">
            <button holiday_type="submit" value="delete">Delete</button>
          </form>
          <a href="/holidays/{{holiday.id}}/edit"><button type="Edit">Edit</button></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}  


{% endblock %}