{% extends "base.html" %}

{% block content %}

   <div class form_container>
    <form action="/holidays" method="post">
        <div>
        <label for="description">Type:</label>
        <input type="text" id="holiday_type" name="holiday_type" placeholder="type" required autofocus>
        <div>
                <label for="country">Select country:</label>
                  <select name="country_id" id="country">
                    {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
        </div>
        <div>

                <label for="city">Select city:</label>
                  <select name="city_id" id="city">
                    {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                  </select>
        </div>
        <div>
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" placeholder="review">
        </div>
        <div>

                <label for="user">Select user:</label>
                  <select name="user_id" id="user">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                  </select>
        </div>

        <button class="buttons" type="submit">Add Holiday</button>


    </form>
   </div>
    </div>
{% endblock %}