{% extends "base.html" %}

{% block content %}

   <div class="form_container">
    <form action="/holidays" method="post">
        <div>
        <label for="description">Holiday Type:</label>
        <input type="text" id="holiday_type" name="holiday_type" placeholder="Holiday Type e.g. Honeymoon" required autofocus>
        <div>
                <label for="country">Select Country:</label>
                  <select name="country_id" id="country">
                    {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
        </div>
        <div>
                <label for="city">Select City:</label>
                  <select name="city_id" id="city">
                    {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                  </select>
        </div>
        <div>
          <label for="transport">How will you get there?:</label>
          <input type="text" id="transport" name="transport" placeholder="e.g. Train">
      </div>
      <div>
        <label for="currency">Local currency:</label>
        <input type="text" id="currency" name="currency" placeholder="e.g. US Dollar">
    </div>
        <div>
            <label for="review">Leave a review:</label>
            <input type="text" id="review" name="review" placeholder="e.g. Best holiday ever!">
        </div>
        <div>

                <label for="user">Select user:</label>
                  <select name="user_id" id="user">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                  </select>
        </div>

        <button class="buttons" type="submit">Add Holiday</button>


    </form>
   </div>
    </div>
{% endblock %}