

body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c56 C 72%2c109 216%2c289.4 360%2c321 C 504%2c352.6 576%2c212 720%2c214 C 864%2c216 936%2c341.2 1080%2c331 C 1224%2c320.8 1368%2c196.6 1440%2c163L1440 1000L0 1000z' fill='rgba(178%2c 210%2c 209%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c623 C 96%2c677.8 288%2c907.8 480%2c897 C 672%2c886.2 768%2c590.2 960%2c569 C 1152%2c547.8 1344%2c746.6 1440%2c791L1440 1000L0 1000z' fill='rgba(247%2c 218%2c 217%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.image2{
  position: relative;
  float: right;
  height: auto; 
  width: 100%; 
  max-width: 50%; 
  max-height: 50%;
  margin-right: 100px;
  top: -300px;
}

  .nav{
    display: flex;
    padding: 30px;
    background-color: rgb(74, 31, 119);
  }
  
  .nav li a{
    text-decoration: none;
  }
  
  .nav li a:visited{
    color: white;
  }
  
  .nav li{
    padding-right: 80px;
    padding-left: 20px;
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif; font-size: 16px;
    width: 100%;
    text-align: center;
   }

  .hols{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 10px;
    background-color: rgb(233, 230, 230);
    
  }

  .hols_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .hometext h2{
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    /* font-size: 60px; */
    font-size: clamp(2rem, 6vw, 4rem);

  }



  .hols_edit_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .form_container, input, select, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  .form_container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    height: 200px;
  } 

  .city_form, input, select, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  .city_form{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  } 

  .country_form, input, select, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  .country_form{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  } 

  .edit_form, input, select, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  .edit_form{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    height: 200px;
  } 

  .plan_button{
    
    width: 200px;
  }

  .hols_button{
    width: 150px;
  }