/* body{
    background-image: linear-gradient(to right, #fff1eb, #ace0f9);
} */

.nav{
    display: flex;
    padding: 30px;
    background-color: rgb(214, 173, 37);
  }
  
  .nav li a{
    text-decoration: none;
  }
  
  .nav li a:visited{
    color: white;
  }
  
  .nav li{
    padding-right: 60px;
    padding-left: 20px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    width: 100%;
    text-align: center;
   }

  .hols{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid white;
    width: 30%;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 10px;
    background-color: rgb(167, 164, 164);
  }

  .hols_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .hometext h2{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 60px;
  }



  .hols_edit_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }